.playlist_info{
    height: 200px;
    width: 100%;
}

.playlist_info .name{
    float: right;
    width: 448px;
}

.playlist_info .name .description{
    height: 100px;
    width: 443px
}

.playlist_info .name .description span {
    display: block;
    margin: 0;
    line-height: 28px;
    height: 112px;
    color: #424242;
    overflow: hidden;
    text-overflow: ellipsis;
}