{% extends "./layout.html" %}

{% block head %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "css/music/reset.css"%}">
    <link rel="stylesheet" type="text/css" href="{% static "css/music/common.css"%}">
    <link rel="stylesheet" type="text/css" href="{% static "css/music/slider.css"%}">
    <link rel="stylesheet" type="text/css" href="{% static "css/music/font-awesome.min.css"%}">
{% endblock %}

{% block content %}
<div class="container-sm slider-wrap">
  <div class="slider">
    <div class="slider-item-list"></div>
    <div class="slider-dots">
      <div class="slider-dots-wrap"></div>
    </div>
    <div class="slider-arrows">
      <div class="slider-arrows-wrap">
        <span class="slider-arrow slider-arrow-left" onclick="HBSlider.turn(-1)"></span>
        <span class="slider-arrow slider-arrow-right" onclick="HBSlider.turn(1)"></span>
      </div>
    </div>
  </div>
</div>
<!-- 主内容区域 -->
<div class="container-sm box">
  <!-- 主内容 -->
  <div class="main">
    <div class="main-wrap">
      <div class="content-box">
        <!-- 热门推荐 -->
        <div class="hot-recommand">
          <div class="content-header">
            <h2><i class="fa fa-music red"></i>热门推荐</h2>
            <div class="tab">
              <a href="category/piano">华语</a>
              <span class="line">|</span>
              <a href="category/guitar">流行</a>
              <span class="line">|</span>
              <a href="category/cartoon">摇滚</a>
              <span class="line">|</span>
              <a href="category/elect">电子</a>
              <span class="line">|</span>
              <a href="category/elect">民谣</a>
            </div>
            <!--<span class="more"><a href="#">更多</a></span>-->
          </div>
          <ul class="music-list clearfix">
            {% for i in play_list %}
                <li>
                  <div class="u-cover">
                    <img src="{{ i.id }}">
                    <a title="Refrain - Anan Ryoko" href="./music/22712173.html" class="msk"></a>
                  </div>
                  <p class="dec">
                    <a title="Refrain - Anan Ryoko" href="./music/22712173.html">{{ i.singer }}</a>
                  </p>
                  <div class="author">{{ i.identity }}</div>
                </li>
            {% endfor %}
          </ul>
        </div>
        <div class="hot-recommand">
          <div class="content-header">
            <h2><i class="fa fa-music red"></i>新碟上架</h2>
          </div>
          <ul class="music-list clearfix">
            {% for i in album_list %}
                <li>
                  <div class="u-cover">
                    <img src="{{ i.img }}">
                    <a title="Refrain - Anan Ryoko" href="./music/22712173.html" class="msk"></a>
                  </div>
                  <p class="dec">
                    <a title="Refrain - Anan Ryoko" href="./music/22712173.html">{{ i.name }}</a>
                  </p>
                  <div class="author">{{ i.artist }}</div>
                </li>
            {% endfor %}
          </ul>
        </div>
        <!-- 分类榜单 -->
        <div class="category">
          <div class="content-header">
            <h2><i class="fa fa-music red"></i>榜单</h2>
          </div>
          <div class="row">
            <div class="category-music-list">
              <div class="category-header">
                云音乐新歌榜
              </div>
              <ul>
                {% for i in new_song_list %}
                <li class="music-list-item">
                  <div class="title">
                    <div class="title_wrap">
                      <span class="rank">{{ i.rank }}</span>
                      <a href="./music/22712173.html" title="Refrain">{{ i.title }}</a>
                    </div>
                  </div>
                  <div class="info">
                    <span class="avatar"><p>{{ i.artist }}</p></span>
                  </div>
                </li>
                {% endfor %}
              </ul>
            </div>
            <div class="category-music-list">
              <div class="category-header">
                云音乐飙升榜
              </div>
              <ul>
                {% for i in up_song_list %}
                <li class="music-list-item">
                  <div class="title">
                    <div class="title_wrap">
                      <span class="rank">{{ i.rank }}</span>
                      <a href="./music/22712173.html" title="Refrain">{{ i.title }}</a>
                    </div>
                  </div>
                  <div class="info">
                    <span class="avatar"><p>{{ i.artist }}</p></span>
                  </div>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="category-music-list">
              <div class="category-header">
                网易原创歌曲榜
              </div>
              <ul>
                {% for i in original_song_list %}
                <li class="music-list-item">
                  <div class="title">
                    <div class="title_wrap">
                      <span class="rank">{{ i.rank }}</span>
                      <a href="./music/22712173.html" title="Refrain">{{ i.title }}</a>
                    </div>
                  </div>
                  <div class="info">
                    <span class="avatar"><p>{{ i.artist }}</p></span>
                  </div>
                </li>
                {% endfor %}
              </ul>
            </div>
            <div class="category-music-list">
              <div class="category-header">
                云音乐热歌榜
              </div>
              <ul>
                {% for i in hot_song_list %}
                <li class="music-list-item">
                  <div class="title">
                    <div class="title_wrap">
                      <span class="rank">{{ i.rank }}</span>
                      <a href="./music/22712173.html" title="Refrain">{{ i.title }}</a>
                    </div>
                  </div>
                  <div class="info">
                    <span class="avatar"><p>{{ i.artist }}</p></span>
                  </div>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- 侧边栏 -->
  <div class="sidebar" style="min-height: 1094px">
    <div class="right-module">
      <h4>入驻歌手</h4>
      <ul class="new-artist-songs">
        {% for i in singer_list %}
            <li class="artist-song">
              <div class="avatar">
                <img src="{{ i.img }}">
              </div>
              <div class="info">
                <h3>{{ i.singer }}</h3>
                <p>{{ i.identity }}</p>
              </div>
              <a href="http://music.163.com/#/user/home?id={{ i.id }}" title="{{ i.singer }}" class="cover-link"></a>
            </li>
        {% endfor %}
      </ul>
    </div>
    <div class="right-module">
      <h4>热门主播</h4>
      <ul class="new-artist-songs">
        {% for i in popular_anchor %}
            <li class="artist-song">
              <div class="avatar">
                <img src="{{ i.img }}">
              </div>
              <div class="info">
                <h3>{{ i.singer }}</h3>
                <p>{{ i.identity }}</p>
              </div>
              <a href="http://music.163.com/#/user/home?id={{ i.id }}" title="{{ i.singer }}" class="cover-link"></a>
            </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
    {% load staticfiles %}
    <script type="text/javascript" src="{% static "js/music/jquery.min.js"%}"></script>
    <script type="text/javascript" src="{% static "js/music/HBSlider.js"%}"></script>
    <script type="text/javascript" src="{% static "js/music/lunbo.js"%}"></script>
{% endblock %}

