{% extends "./layout.html" %}

{% block head %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "css/music/reset.css"%}">
    <link rel="stylesheet" type="text/css" href="{% static "css/music/common.css"%}">
    <link rel="stylesheet" type="text/css" href="{% static "css/music/slider.css"%}">
    <link rel="stylesheet" type="text/css" href="{% static "css/music/font-awesome.min.css"%}">
    <script>
        window.onload = function (ev) {
            var hot_recom = document.getElementsByClassName('hot-recommand');
            var rank_list = document.getElementsByClassName('category-music-list');
            var singer_list = document.getElementsByClassName('right-module');

            var rank_render = function (rank_list, content) {
                for(var i in content){
                    var obj_li = rank_list.getElementsByTagName('li')[i];
                    var obj = obj_li.getElementsByTagName('a')[0];
                    var span = obj_li.getElementsByTagName('span')[0];
                    obj.href = '/ac/music/?id=' + content[i].song_id;
                    obj.title = content[i].name;
                    obj.textContent = content[i].name;
                    span.textContent = content[i].rank;
                }
            };

            var singer_render = function (singer_list, content) {
                for (var i in content){
                    var obj_li = singer_list.getElementsByTagName('li')[i];
                    obj_li.getElementsByTagName('img')[0].src = content[i].img;
                    obj_li.getElementsByTagName('h3')[0].textContent = content[i].singer;
                    obj_li.getElementsByTagName('p')[0].textContent = content[i].identity;
                    obj = obj_li.getElementsByTagName('a')[0];
                    obj.href = '/ac/user?id=' + content[i].singer_id;
                    obj.title = content[i].singer;
                }
            };

            $.ajax({
                url: '/',
                type: 'POST',
                data: {
                    info: 'get'
                },

                success: function (data) {
                    var info = JSON.parse(data);

                    var commend = info.commend;
                    for (var i in commend){
                        var obj_li = hot_recom[0].getElementsByTagName('li')[i];
                        for (var j = 0;j <= 1;j++){
                            var obj = obj_li.getElementsByTagName('a')[j];
                            obj.title = commend[i].title;
                            obj.href = '/ac/' + commend[i].index + '?id=' + commend[i].list_id;
                        }
                        obj_li.getElementsByTagName('a')[1].textContent = commend[i].title;
                        obj_li.getElementsByTagName('img')[0].src = commend[i].img;
                        obj_li.getElementsByClassName('author')[0].textContent = commend[i].category;
                    }


                    var album = info.new_cd;
                    for (var i in album){
                        var obj_li = hot_recom[1].getElementsByTagName('li')[i];
                        for (var j = 0;j <= 1;j++){
                            var obj = obj_li.getElementsByTagName('a')[j];
                            obj.title = album[i].name;
                            obj.href = "/ac/album?id=" + album[i].album_id;
                        }

                        obj_li.getElementsByTagName('a')[1].textContent = album[i].title;
                        obj_li.getElementsByTagName('img')[0].src = album[i].img;
                        obj_li.getElementsByClassName('author')[0].textContent = album[i].artist;
                    }

                    rank_render(rank_list[0], info.up_rank);
                    rank_render(rank_list[1], info.new_rank);
                    rank_render(rank_list[2], info.douyin_rank);
                    rank_render(rank_list[3], info.hot_rank);
                    singer_render(singer_list[0], info.singer);
                    singer_render(singer_list[1], info.charac);
                },

                error: function () {
                    alert('请求超时')
                },

                beforeSend: function(xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            });
        };
    </script>
{% endblock %}

{% block content %}
<div class="container-sm slider-wrap">
  <div class="slider">
    <div class="slider-item-list"></div>
    <div class="slider-dots">
      <div class="slider-dots-wrap"></div>
    </div>
    <div class="slider-arrows">
      <div class="slider-arrows-wrap">
        <span class="slider-arrow slider-arrow-left" onclick="HBSlider.turn(-1)"></span>
        <span class="slider-arrow slider-arrow-right" onclick="HBSlider.turn(1)"></span>
      </div>
    </div>
  </div>
</div>
<!-- 主内容区域 -->
<div class="container-sm box">
  <!-- 主内容 -->
  <div class="main">
    <div class="main-wrap">
      <div class="content-box">
        <!-- 热门推荐 -->
        <div class="hot-recommand">
          <div class="content-header">
            <h2><i class="fa fa-music red"></i>热门推荐</h2>
{#            <div class="tab">#}
{#              <a href="/ac/play_list/?cat=华语">华语</a>#}
{#              <span class="line">|</span>#}
{#              <a href="/ac/play_list/?cat=流行">流行</a>#}
{#              <span class="line">|</span>#}
{#              <a href="/ac/play_list/?cat=摇滚">摇滚</a>#}
{#              <span class="line">|</span>#}
{#              <a href="/ac/play_list/?cat=电子">电子</a>#}
{#              <span class="line">|</span>#}
{#              <a href="/ac/play_list/?cat=民谣">民谣</a>#}
{#            </div>#}
            <!--<span class="more"><a href="#">更多</a></span>-->
          </div>
          <ul class="music-list clearfix">
            <li>
              <div class="u-cover">
                <img src="../static/image/fail.png">
                <a title="加载中..." href="/" class="msk"></a>
              </div>
              <p class="dec">
                <a title="加载中..." href="/">加载中...</a>
              </p>
              <div class="author">加载中...</div>
            </li>

            <li>
              <div class="u-cover">
                <img src="../static/image/fail.png">
                <a title="加载中..." href="/" class="msk"></a>
              </div>
              <p class="dec">
                <a title="加载中..." href="/">加载中...</a>
              </p>
              <div class="author">加载中...</div>
            </li>

            <li>
              <div class="u-cover">
                <img src="../static/image/fail.png">
                <a title="加载中..." href="/" class="msk"></a>
              </div>
              <p class="dec">
                <a title="加载中..." href="/">加载中...</a>
              </p>
              <div class="author">加载中...</div>
            </li>

            <li>
              <div class="u-cover">
                <img src="../static/image/fail.png">
                <a title="加载中..." href="/" class="msk"></a>
              </div>
              <p class="dec">
                <a title="加载中..." href="/">加载中...</a>
              </p>
              <div class="author">加载中...</div>
            </li>

            <li>
              <div class="u-cover">
                <img src="../static/image/fail.png">
                <a title="加载中..." href="/" class="msk"></a>
              </div>
              <p class="dec">
                <a title="加载中..." href="/">加载中...</a>
              </p>
              <div class="author">加载中...</div>
            </li>

            <li>
              <div class="u-cover">
                <img src="../static/image/fail.png">
                <a title="加载中..." href="/" class="msk"></a>
              </div>
              <p class="dec">
                <a title="加载中..." href="/">加载中...</a>
              </p>
              <div class="author">加载中...</div>
            </li>

            <li>
              <div class="u-cover">
                <img src="../static/image/fail.png">
                <a title="加载中..." href="/" class="msk"></a>
              </div>
              <p class="dec">
                <a title="加载中..." href="/">加载中...</a>
              </p>
              <div class="author">加载中...</div>
            </li>

            <li>
              <div class="u-cover">
                <img src="../static/image/fail.png">
                <a title="加载中..." href="/" class="msk"></a>
              </div>
              <p class="dec">
                <a title="加载中..." href="/">加载中...</a>
              </p>
              <div class="author">加载中...</div>
            </li>
          </ul>
        </div>
        <div class="hot-recommand">
          <div class="content-header">
            <h2><i class="fa fa-music red"></i>新碟上架</h2>
          </div>
          <ul class="music-list clearfix">
            <li>
              <div class="u-cover">
                <img src="../static/image/fail.png">
                <a title="加载中..." href="/" class="msk"></a>
              </div>
              <p class="dec">
                <a title="加载中..." href="/">加载中...</a>
              </p>
              <div class="author">加载中...</div>
            </li>

            <li>
              <div class="u-cover">
                <img src="../static/image/fail.png">
                <a title="加载中..." href="/" class="msk"></a>
              </div>
              <p class="dec">
                <a title="加载中..." href="/">加载中...</a>
              </p>
              <div class="author">加载中...</div>
            </li>

            <li>
              <div class="u-cover">
                <img src="../static/image/fail.png">
                <a title="加载中..." href="/" class="msk"></a>
              </div>
              <p class="dec">
                <a title="加载中..." href="/">加载中...</a>
              </p>
              <div class="author">加载中...</div>
            </li>

            <li>
              <div class="u-cover">
                <img src="../static/image/fail.png">
                <a title="加载中..." href="/" class="msk"></a>
              </div>
              <p class="dec">
                <a title="加载中..." href="/">加载中...</a>
              </p>
              <div class="author">加载中...</div>
            </li>

            <li>
              <div class="u-cover">
                <img src="../static/image/fail.png">
                <a title="加载中..." href="/" class="msk"></a>
              </div>
              <p class="dec">
                <a title="加载中..." href="/">加载中...</a>
              </p>
              <div class="author">加载中...</div>
            </li>

            <li>
              <div class="u-cover">
                <img src="../static/image/fail.png">
                <a title="加载中..." href="/" class="msk"></a>
              </div>
              <p class="dec">
                <a title="加载中..." href="/">加载中...</a>
              </p>
              <div class="author">加载中...</div>
            </li>

            <li>
              <div class="u-cover">
                <img src="../static/image/fail.png">
                <a title="加载中..." href="/" class="msk"></a>
              </div>
              <p class="dec">
                <a title="加载中..." href="/">加载中...</a>
              </p>
              <div class="author">加载中...</div>
            </li>

            <li>
              <div class="u-cover">
                <img src="../static/image/fail.png">
                <a title="加载中..." href="/" class="msk"></a>
              </div>
              <p class="dec">
                <a title="加载中..." href="/">加载中...</a>
              </p>
              <div class="author">加载中...</div>
            </li>

            <li>
              <div class="u-cover">
                <img src="../static/image/fail.png">
                <a title="加载中..." href="/" class="msk"></a>
              </div>
              <p class="dec">
                <a title="加载中..." href="/">加载中...</a>
              </p>
              <div class="author">加载中...</div>
            </li>

            <li>
              <div class="u-cover">
                <img src="../static/image/fail.png">
                <a title="加载中..." href="/" class="msk"></a>
              </div>
              <p class="dec">
                <a title="加载中..." href="/">加载中...</a>
              </p>
              <div class="author">加载中...</div>
            </li>
          </ul>
        </div>
        <!-- 分类榜单 -->
        <div class="category">
          <div class="content-header">
            <h2><i class="fa fa-music red"></i>榜单</h2>
          </div>
          <div class="row">
            <div class="category-music-list">
              <div class="category-header">
                云音乐飙升榜
              </div>
              <ul>

                <li class="music-list-item">
                  <div class="title">
                    <div class="title_wrap">
                      <span class="rank">加载中...</span>
                      <a href="/" title="加载中...">加载中...</a>
                    </div>
                  </div>
                  <div class="info">
                    <span class="avatar"><p></p></span>
                  </div>
                </li>

                <li class="music-list-item">
                  <div class="title">
                    <div class="title_wrap">
                      <span class="rank">加载中...</span>
                      <a href="/" title="加载中...">加载中...</a>
                    </div>
                  </div>
                  <div class="info">
                    <span class="avatar"><p></p></span>
                  </div>
                </li>

                <li class="music-list-item">
                  <div class="title">
                    <div class="title_wrap">
                      <span class="rank">加载中...</span>
                      <a href="/" title="加载中...">加载中...</a>
                    </div>
                  </div>
                  <div class="info">
                    <span class="avatar"><p></p></span>
                  </div>
                </li>

                <li class="music-list-item">
                  <div class="title">
                    <div class="title_wrap">
                      <span class="rank">加载中...</span>
                      <a href="/" title="加载中...">加载中...</a>
                    </div>
                  </div>
                  <div class="info">
                    <span class="avatar"><p></p></span>
                  </div>
                </li>

                <li class="music-list-item">
                  <div class="title">
                    <div class="title_wrap">
                      <span class="rank">加载中...</span>
                      <a href="/" title="加载中...">加载中...</a>
                    </div>
                  </div>
                  <div class="info">
                    <span class="avatar"><p></p></span>
                  </div>
                </li>

                <li class="music-list-item">
                  <div class="title">
                    <div class="title_wrap">
                      <span class="rank">加载中...</span>
                      <a href="/" title="加载中...">加载中...</a>
                    </div>
                  </div>
                  <div class="info">
                    <span class="avatar"><p></p></span>
                  </div>
                </li>

                <li class="music-list-item">
                  <div class="title">
                    <div class="title_wrap">
                      <span class="rank">加载中...</span>
                      <a href="/" title="加载中...">加载中...</a>
                    </div>
                  </div>
                  <div class="info">
                    <span class="avatar"><p></p></span>
                  </div>
                </li>

                <li class="music-list-item">
                  <div class="title">
                    <div class="title_wrap">
                      <span class="rank">加载中...</span>
                      <a href="/" title="加载中...">加载中...</a>
                    </div>
                  </div>
                  <div class="info">
                    <span class="avatar"><p></p></span>
                  </div>
                </li>

                <li class="music-list-item">
                  <div class="title">
                    <div class="title_wrap">
                      <span class="rank">加载中...</span>
                      <a href="/" title="加载中...">加载中...</a>
                    </div>
                  </div>
                  <div class="info">
                    <span class="avatar"><p></p></span>
                  </div>
                </li>

                <li class="music-list-item">
                  <div class="title">
                    <div class="title_wrap">
                      <span class="rank">加载中...</span>
                      <a href="/" title="加载中...">加载中...</a>
                    </div>
                  </div>
                  <div class="info">
                    <span class="avatar"><p></p></span>
                  </div>
                </li>

              </ul>
            </div>
            <div class="category-music-list">
              <div class="category-header">
                云音乐新歌榜
              </div>
              <ul>
                <li class="music-list-item">
                  <div class="title">
                    <div class="title_wrap">
                      <span class="rank">加载中...</span>
                      <a href="/" title="加载中...">加载中...</a>
                    </div>
                  </div>
                  <div class="info">
                    <span class="avatar"><p></p></span>
                  </div>
                </li>

                <li class="music-list-item">
                  <div class="title">
                    <div class="title_wrap">
                      <span class="rank">加载中...</span>
                      <a href="/" title="加载中...">加载中...</a>
                    </div>
                  </div>
                  <div class="info">
                    <span class="avatar"><p></p></span>
                  </div>
                </li>

                <li class="music-list-item">
                  <div class="title">
                    <div class="title_wrap">
                      <span class="rank">加载中...</span>
                      <a href="/" title="加载中...">加载中...</a>
                    </div>
                  </div>
                  <div class="info">
                    <span class="avatar"><p></p></span>
                  </div>
                </li>

                <li class="music-list-item">
                  <div class="title">
                    <div class="title_wrap">
                      <span class="rank">加载中...</span>
                      <a href="/" title="加载中...">加载中...</a>
                    </div>
                  </div>
                  <div class="info">
                    <span class="avatar"><p></p></span>
                  </div>
                </li>

                <li class="music-list-item">
                  <div class="title">
                    <div class="title_wrap">
                      <span class="rank">加载中...</span>
                      <a href="/" title="加载中...">加载中...</a>
                    </div>
                  </div>
                  <div class="info">
                    <span class="avatar"><p></p></span>
                  </div>
                </li>

                <li class="music-list-item">
                  <div class="title">
                    <div class="title_wrap">
                      <span class="rank">加载中...</span>
                      <a href="/" title="加载中...">加载中...</a>
                    </div>
                  </div>
                  <div class="info">
                    <span class="avatar"><p></p></span>
                  </div>
                </li>

                <li class="music-list-item">
                  <div class="title">
                    <div class="title_wrap">
                      <span class="rank">加载中...</span>
                      <a href="/" title="加载中...">加载中...</a>
                    </div>
                  </div>
                  <div class="info">
                    <span class="avatar"><p></p></span>
                  </div>
                </li>

                <li class="music-list-item">
                  <div class="title">
                    <div class="title_wrap">
                      <span class="rank">加载中...</span>
                      <a href="/" title="加载中...">加载中...</a>
                    </div>
                  </div>
                  <div class="info">
                    <span class="avatar"><p></p></span>
                  </div>
                </li>

                <li class="music-list-item">
                  <div class="title">
                    <div class="title_wrap">
                      <span class="rank">加载中...</span>
                      <a href="/" title="加载中...">加载中...</a>
                    </div>
                  </div>
                  <div class="info">
                    <span class="avatar"><p></p></span>
                  </div>
                </li>

                <li class="music-list-item">
                  <div class="title">
                    <div class="title_wrap">
                      <span class="rank">加载中...</span>
                      <a href="/" title="加载中...">加载中...</a>
                    </div>
                  </div>
                  <div class="info">
                    <span class="avatar"><p></p></span>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="category-music-list">
              <div class="category-header">
                抖音排行榜
              </div>
              <ul>
                <li class="music-list-item">
                  <div class="title">
                    <div class="title_wrap">
                      <span class="rank">加载中...</span>
                      <a href="/" title="加载中...">加载中...</a>
                    </div>
                  </div>
                  <div class="info">
                    <span class="avatar"><p></p></span>
                  </div>
                </li>

                <li class="music-list-item">
                  <div class="title">
                    <div class="title_wrap">
                      <span class="rank">加载中...</span>
                      <a href="/" title="加载中...">加载中...</a>
                    </div>
                  </div>
                  <div class="info">
                    <span class="avatar"><p></p></span>
                  </div>
                </li>

                <li class="music-list-item">
                  <div class="title">
                    <div class="title_wrap">
                      <span class="rank">加载中...</span>
                      <a href="/" title="加载中...">加载中...</a>
                    </div>
                  </div>
                  <div class="info">
                    <span class="avatar"><p></p></span>
                  </div>
                </li>

                <li class="music-list-item">
                  <div class="title">
                    <div class="title_wrap">
                      <span class="rank">加载中...</span>
                      <a href="/" title="加载中...">加载中...</a>
                    </div>
                  </div>
                  <div class="info">
                    <span class="avatar"><p></p></span>
                  </div>
                </li>

                <li class="music-list-item">
                  <div class="title">
                    <div class="title_wrap">
                      <span class="rank">加载中...</span>
                      <a href="/" title="加载中...">加载中...</a>
                    </div>
                  </div>
                  <div class="info">
                    <span class="avatar"><p></p></span>
                  </div>
                </li>

                <li class="music-list-item">
                  <div class="title">
                    <div class="title_wrap">
                      <span class="rank">加载中...</span>
                      <a href="/" title="加载中...">加载中...</a>
                    </div>
                  </div>
                  <div class="info">
                    <span class="avatar"><p></p></span>
                  </div>
                </li>

                <li class="music-list-item">
                  <div class="title">
                    <div class="title_wrap">
                      <span class="rank">加载中...</span>
                      <a href="/" title="加载中...">加载中...</a>
                    </div>
                  </div>
                  <div class="info">
                    <span class="avatar"><p></p></span>
                  </div>
                </li>

                <li class="music-list-item">
                  <div class="title">
                    <div class="title_wrap">
                      <span class="rank">加载中...</span>
                      <a href="/" title="加载中...">加载中...</a>
                    </div>
                  </div>
                  <div class="info">
                    <span class="avatar"><p></p></span>
                  </div>
                </li>

                <li class="music-list-item">
                  <div class="title">
                    <div class="title_wrap">
                      <span class="rank">加载中...</span>
                      <a href="/" title="加载中...">加载中...</a>
                    </div>
                  </div>
                  <div class="info">
                    <span class="avatar"><p></p></span>
                  </div>
                </li>

                <li class="music-list-item">
                  <div class="title">
                    <div class="title_wrap">
                      <span class="rank">加载中...</span>
                      <a href="/" title="加载中...">加载中...</a>
                    </div>
                  </div>
                  <div class="info">
                    <span class="avatar"><p></p></span>
                  </div>
                </li>
              </ul>
            </div>
            <div class="category-music-list">
              <div class="category-header">
                云音乐热歌榜
              </div>
              <ul>
                <li class="music-list-item">
                  <div class="title">
                    <div class="title_wrap">
                      <span class="rank">加载中...</span>
                      <a href="/" title="加载中...">加载中...</a>
                    </div>
                  </div>
                  <div class="info">
                    <span class="avatar"><p></p></span>
                  </div>
                </li>

                <li class="music-list-item">
                  <div class="title">
                    <div class="title_wrap">
                      <span class="rank">加载中...</span>
                      <a href="/" title="加载中...">加载中...</a>
                    </div>
                  </div>
                  <div class="info">
                    <span class="avatar"><p></p></span>
                  </div>
                </li>

                <li class="music-list-item">
                  <div class="title">
                    <div class="title_wrap">
                      <span class="rank">加载中...</span>
                      <a href="/" title="加载中...">加载中...</a>
                    </div>
                  </div>
                  <div class="info">
                    <span class="avatar"><p></p></span>
                  </div>
                </li>

                <li class="music-list-item">
                  <div class="title">
                    <div class="title_wrap">
                      <span class="rank">加载中...</span>
                      <a href="/" title="加载中...">加载中...</a>
                    </div>
                  </div>
                  <div class="info">
                    <span class="avatar"><p></p></span>
                  </div>
                </li>

                <li class="music-list-item">
                  <div class="title">
                    <div class="title_wrap">
                      <span class="rank">加载中...</span>
                      <a href="/" title="加载中...">加载中...</a>
                    </div>
                  </div>
                  <div class="info">
                    <span class="avatar"><p></p></span>
                  </div>
                </li>

                <li class="music-list-item">
                  <div class="title">
                    <div class="title_wrap">
                      <span class="rank">加载中...</span>
                      <a href="/" title="加载中...">加载中...</a>
                    </div>
                  </div>
                  <div class="info">
                    <span class="avatar"><p></p></span>
                  </div>
                </li>

                <li class="music-list-item">
                  <div class="title">
                    <div class="title_wrap">
                      <span class="rank">加载中...</span>
                      <a href="/" title="加载中...">加载中...</a>
                    </div>
                  </div>
                  <div class="info">
                    <span class="avatar"><p></p></span>
                  </div>
                </li>

                <li class="music-list-item">
                  <div class="title">
                    <div class="title_wrap">
                      <span class="rank">加载中...</span>
                      <a href="/" title="加载中...">加载中...</a>
                    </div>
                  </div>
                  <div class="info">
                    <span class="avatar"><p></p></span>
                  </div>
                </li>

                <li class="music-list-item">
                  <div class="title">
                    <div class="title_wrap">
                      <span class="rank">加载中...</span>
                      <a href="/" title="加载中...">加载中...</a>
                    </div>
                  </div>
                  <div class="info">
                    <span class="avatar"><p></p></span>
                  </div>
                </li>

                <li class="music-list-item">
                  <div class="title">
                    <div class="title_wrap">
                      <span class="rank">加载中...</span>
                      <a href="/" title="加载中...">加载中...</a>
                    </div>
                  </div>
                  <div class="info">
                    <span class="avatar"><p></p></span>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- 侧边栏 -->
  <div class="sidebar" style="min-height: 1094px">
    <div class="right-module">
      <h4>入驻歌手</h4>
      <ul class="new-artist-songs">

        <li class="artist-song">
          <div class="avatar">
            <img src="../static/image/fail.png">
          </div>
          <div class="info">
            <h3>加载中...</h3>
            <p>加载中...</p>
          </div>
          <a href="/" title="加载中..." class="cover-link"></a>
        </li>

        <li class="artist-song">
          <div class="avatar">
            <img src="../static/image/fail.png">
          </div>
          <div class="info">
            <h3>加载中...</h3>
            <p>加载中...</p>
          </div>
          <a href="/" title="加载中..." class="cover-link"></a>
        </li>

        <li class="artist-song">
          <div class="avatar">
            <img src="../static/image/fail.png">
          </div>
          <div class="info">
            <h3>加载中...</h3>
            <p>加载中...</p>
          </div>
          <a href="/" title="加载中..." class="cover-link"></a>
        </li>

        <li class="artist-song">
          <div class="avatar">
            <img src="../static/image/fail.png">
          </div>
          <div class="info">
            <h3>加载中...</h3>
            <p>加载中...</p>
          </div>
          <a href="/" title="加载中..." class="cover-link"></a>
        </li>

        <li class="artist-song">
          <div class="avatar">
            <img src="../static/image/fail.png">
          </div>
          <div class="info">
            <h3>加载中...</h3>
            <p>加载中...</p>
          </div>
          <a href="/" title="加载中..." class="cover-link"></a>
        </li>
      </ul>
    </div>
    <div class="right-module">
      <h4>热门主播</h4>
      <ul class="new-artist-songs">
        <li class="artist-song">
          <div class="avatar">
            <img src="../static/image/fail.png">
          </div>
          <div class="info">
            <h3>加载中...</h3>
            <p>加载中...</p>
          </div>
          <a href="/" title="加载中..." class="cover-link"></a>
        </li>

        <li class="artist-song">
          <div class="avatar">
            <img src="../static/image/fail.png">
          </div>
          <div class="info">
            <h3>加载中...</h3>
            <p>加载中...</p>
          </div>
          <a href="/" title="加载中..." class="cover-link"></a>
        </li>

        <li class="artist-song">
          <div class="avatar">
            <img src="../static/image/fail.png">
          </div>
          <div class="info">
            <h3>加载中...</h3>
            <p>加载中...</p>
          </div>
          <a href="/" title="加载中..." class="cover-link"></a>
        </li>

        <li class="artist-song">
          <div class="avatar">
            <img src="../static/image/fail.png">
          </div>
          <div class="info">
            <h3>加载中...</h3>
            <p>加载中...</p>
          </div>
          <a href="/" title="加载中..." class="cover-link"></a>
        </li>

        <li class="artist-song">
          <div class="avatar">
            <img src="../static/image/fail.png">
          </div>
          <div class="info">
            <h3>加载中...</h3>
            <p>加载中...</p>
          </div>
          <a href="/" title="加载中..." class="cover-link"></a>
        </li>
      </ul>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
    {% load staticfiles %}
    <script type="text/javascript" src="{% static "js/music/jquery.min.js"%}"></script>
    <script type="text/javascript" src="{% static "js/music/HBSlider.js"%}"></script>
    <script type="text/javascript">

      var sliderData = [];

      {% for i in lunbo %}
          sliderData.push({
              title: '',
              pic: '{{ i.img }}',
              url: '{{ i.url }}'
          });
      {% endfor %}


      $(function () {
        HBSlider.setConfig({
          autoPlay: true,
          delay: 5
        });
        HBSlider.setItems(sliderData);
        HBSlider.init();
        HBSlider.play();
      });
    </script>
{% endblock %}

