{% extends "./layout.html" %}

{% block head %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "css/music/reset.css"%}">
    <link rel="stylesheet" type="text/css" href="{% static "css/music/common.css"%}">
    <link rel="stylesheet" type="text/css" href="{% static "css/music/slider.css"%}">
    <link rel="stylesheet" type="text/css" href="{% static "css/music/font-awesome.min.css"%}">
{% endblock %}

{% block content %}
<div class="container-sm slider-wrap">
  <div class="slider">
    <div class="slider-item-list"></div>
    <div class="slider-dots">
      <div class="slider-dots-wrap"></div>
    </div>
    <div class="slider-arrows">
      <div class="slider-arrows-wrap">
        <span class="slider-arrow slider-arrow-left" onclick="HBSlider.turn(-1)"></span>
        <span class="slider-arrow slider-arrow-right" onclick="HBSlider.turn(1)"></span>
      </div>
    </div>
  </div>
</div>
<!-- 主内容区域 -->
<div class="container-sm box">
  <!-- 主内容 -->
  <div class="main">
    <div class="main-wrap">
      <div class="content-box">
        <!-- 热门推荐 -->
        <div class="hot-recommand">
          <div class="content-header">
            <h2><i class="fa fa-music red"></i>热门推荐</h2>
            <div class="tab">
              <a href="/ac/play_list/?cat=华语">华语</a>
              <span class="line">|</span>
              <a href="/ac/play_list/?cat=流行">流行</a>
              <span class="line">|</span>
              <a href="/ac/play_list/?cat=摇滚">摇滚</a>
              <span class="line">|</span>
              <a href="/ac/play_list/?cat=电子">电子</a>
              <span class="line">|</span>
              <a href="/ac/play_list/?cat=民谣">民谣</a>
            </div>
            <!--<span class="more"><a href="#">更多</a></span>-->
          </div>
          <ul class="music-list clearfix">


                    <li>
                      <div class="u-cover">
                        <img src="http://p1.music.126.net/G-_33WaEGJX4E-3DwUVjGg==/109951163244669994.jpg?param=140y140">
                        <a title="像我这样的女孩，要不要了解一下？" href="/ac/music_list?id=2182968685" class="msk"></a>
                      </div>
                      <p class="dec">
                        <a title="像我这样的女孩，要不要了解一下？" href="/ac/music_list?id=2182968685">像我这样的女孩，要不要了解一下？</a>
                      </p>
                      <div class="author">歌单</div>
                    </li>


                    <li>
                      <div class="u-cover">
                        <img src="http://p1.music.126.net/1KRWbkzziWyaH3Qn8pBs_w==/18885211718766901.jpg?param=140y140">
                        <a title="【泛民国撷趣】男士撩妹指南" href="/ac/music_list?id=700268407" class="msk"></a>
                      </div>
                      <p class="dec">
                        <a title="【泛民国撷趣】男士撩妹指南" href="/ac/music_list?id=700268407">【泛民国撷趣】男士撩妹指南</a>
                      </p>
                      <div class="author">歌单</div>
                    </li>


                    <li>
                      <div class="u-cover">
                        <img src="http://p1.music.126.net/QhLgMTohj76Q-2ZOAABtLQ==/109951163285190917.jpg?param=140y140">
                        <a title="『古风 遇梦』听梦不愿醒 便随你风月无际" href="/ac/music_list?id=2171419444" class="msk"></a>
                      </div>
                      <p class="dec">
                        <a title="『古风 遇梦』听梦不愿醒 便随你风月无际" href="/ac/music_list?id=2171419444">『古风 遇梦』听梦不愿醒 便随你风月无际</a>
                      </p>
                      <div class="author">歌单</div>
                    </li>


                    <li>
                      <div class="u-cover">
                        <img src="http://p1.music.126.net/96A3YxfcMx5hET4i-n4B3A==/109951163275422551.jpg?param=140y140">
                        <a title="史诗般的北欧神话之旅，开启！新《战神》评测" href="/ac/dj?id=1369076793" class="msk"></a>
                      </div>
                      <p class="dec">
                        <a title="史诗般的北欧神话之旅，开启！新《战神》评测" href="/ac/dj?id=1369076793">史诗般的北欧神话之旅，开启！新《战神》评测</a>
                      </p>
                      <div class="author">电台节目</div>
                    </li>


                    <li>
                      <div class="u-cover">
                        <img src="http://p1.music.126.net/Nw0hEFV78-2cCx912UwzYw==/5916472069250191.jpg?param=140y140">
                        <a title="背景音乐之旅-不朽的交响曲" href="/ac/music_list?id=11764698" class="msk"></a>
                      </div>
                      <p class="dec">
                        <a title="背景音乐之旅-不朽的交响曲" href="/ac/music_list?id=11764698">背景音乐之旅-不朽的交响曲</a>
                      </p>
                      <div class="author">歌单</div>
                    </li>


                    <li>
                      <div class="u-cover">
                        <img src="http://p1.music.126.net/uwENIjTQrR7aqt5OmtCx6Q==/109951163281897656.jpg?param=140y140">
                        <a title="未来最稀缺的资源是什么？| 黄执中" href="/ac/dj?id=1369145475" class="msk"></a>
                      </div>
                      <p class="dec">
                        <a title="未来最稀缺的资源是什么？| 黄执中" href="/ac/dj?id=1369145475">未来最稀缺的资源是什么？| 黄执中</a>
                      </p>
                      <div class="author">电台节目</div>
                    </li>


                    <li>
                      <div class="u-cover">
                        <img src="http://p1.music.126.net/JJiebnZ0qau0LuMf-uaSRg==/18631224534853553.jpg?param=140y140">
                        <a title="非主流青春里听过的歌" href="/ac/music_list?id=2113359151" class="msk"></a>
                      </div>
                      <p class="dec">
                        <a title="非主流青春里听过的歌" href="/ac/music_list?id=2113359151">非主流青春里听过的歌</a>
                      </p>
                      <div class="author">歌单</div>
                    </li>


                    <li>
                      <div class="u-cover">
                        <img src="http://p1.music.126.net/T3nkIWaUN_RfzZBDDC7WKg==/109951163285841970.jpg?param=140y140">
                        <a title="我不会再主动联系你了" href="/ac/dj?id=1369163925" class="msk"></a>
                      </div>
                      <p class="dec">
                        <a title="我不会再主动联系你了" href="/ac/dj?id=1369163925">我不会再主动联系你了</a>
                      </p>
                      <div class="author">电台节目</div>
                    </li>


          </ul>
        </div>
        <div class="hot-recommand">
          <div class="content-header">
            <h2><i class="fa fa-music red"></i>新碟上架</h2>
          </div>
          <ul class="music-list clearfix">


                    <li>
                      <div class="u-cover">
                        <img src="http://p4.music.126.net/xVvktztqvjgyMUBRQeeDfQ==/109951163271890902.jpg?param=100y100">
                        <a title="溯游从歌" href="/ac/album?id=38529019" class="msk"></a>
                      </div>
                      <p class="dec">
                        <a title="溯游从歌" href="/ac/album?id=38529019">溯游从歌</a>
                      </p>
                      <div class="author">群星 / Winky诗 / 三无MarBlue / Mario / smile_小千 / 小魂 / 不才 / 贰婶 / 只有影子 / 吴磊</div>
                    </li>


                    <li>
                      <div class="u-cover">
                        <img src="http://p4.music.126.net/BPQ83fECIS2CBLnpbOGCNA==/109951163253315098.jpg?param=100y100">
                        <a title="摩天大楼" href="/ac/album?id=38388012" class="msk"></a>
                      </div>
                      <p class="dec">
                        <a title="摩天大楼" href="/ac/album?id=38388012">摩天大楼</a>
                      </p>
                      <div class="author">薛之谦</div>
                    </li>


                    <li>
                      <div class="u-cover">
                        <img src="http://p4.music.126.net/XWMiED2ryCj2xVovjDRDSQ==/109951163281594877.jpg?param=100y100">
                        <a title="Voicenotes" href="/ac/album?id=38530129" class="msk"></a>
                      </div>
                      <p class="dec">
                        <a title="Voicenotes" href="/ac/album?id=38530129">Voicenotes</a>
                      </p>
                      <div class="author">Charlie Puth</div>
                    </li>


                    <li>
                      <div class="u-cover">
                        <img src="http://p4.music.126.net/36Jn70oJcxhTpiWunyyg8w==/109951163255300834.jpg?param=100y100">
                        <a title="Dawn of us" href="/ac/album?id=38404010" class="msk"></a>
                      </div>
                      <p class="dec">
                        <a title="Dawn of us" href="/ac/album?id=38404010">Dawn of us</a>
                      </p>
                      <div class="author">王嘉尔</div>
                    </li>


                    <li>
                      <div class="u-cover">
                        <img src="http://p4.music.126.net/x3x3rctNe_cca843RGFdfA==/109951163279173797.jpg?param=100y100">
                        <a title="I am" href="/ac/album?id=38530045" class="msk"></a>
                      </div>
                      <p class="dec">
                        <a title="I am" href="/ac/album?id=38530045">I am</a>
                      </p>
                      <div class="author">(G)I-DLE</div>
                    </li>


                    <li>
                      <div class="u-cover">
                        <img src="http://p3.music.126.net/kaSBPpFc1J2eKEg_XepMaA==/109951163279924029.jpg?param=100y100">
                        <a title="Bloom" href="/ac/album?id=38529067" class="msk"></a>
                      </div>
                      <p class="dec">
                        <a title="Bloom" href="/ac/album?id=38529067">Bloom</a>
                      </p>
                      <div class="author">Troye Sivan</div>
                    </li>


                    <li>
                      <div class="u-cover">
                        <img src="http://p3.music.126.net/dJr7xr2jFI5281fFi2O0Yg==/109951163281429437.jpg?param=100y100">
                        <a title="舞舞舞" href="/ac/album?id=38585014" class="msk"></a>
                      </div>
                      <p class="dec">
                        <a title="舞舞舞" href="/ac/album?id=38585014">舞舞舞</a>
                      </p>
                      <div class="author">萧亚轩</div>
                    </li>


                    <li>
                      <div class="u-cover">
                        <img src="http://p4.music.126.net/5o98Qxu7eiwbEVJOHQ1ifw==/109951163268328472.jpg?param=100y100">
                        <a title="Melody" href="/ac/album?id=38497993" class="msk"></a>
                      </div>
                      <p class="dec">
                        <a title="Melody" href="/ac/album?id=38497993">Melody</a>
                      </p>
                      <div class="author">Lost Frequencies / James Blunt</div>
                    </li>


                    <li>
                      <div class="u-cover">
                        <img src="http://p4.music.126.net/yNSw3steQSPGqxAStaJhaA==/109951163270068097.jpg?param=100y100">
                        <a title="beerbongs & bentleys" href="/ac/album?id=38513012" class="msk"></a>
                      </div>
                      <p class="dec">
                        <a title="beerbongs & bentleys" href="/ac/album?id=38513012">beerbongs & bentleys</a>
                      </p>
                      <div class="author">Post Malone</div>
                    </li>


                    <li>
                      <div class="u-cover">
                        <img src="http://p3.music.126.net/cJ4BOjSwvoU3ai8zTe-q8Q==/109951163243389836.jpg?param=100y100">
                        <a title="爵士乐与不插电新编12首" href="/ac/album?id=38274116" class="msk"></a>
                      </div>
                      <p class="dec">
                        <a title="爵士乐与不插电新编12首" href="/ac/album?id=38274116">爵士乐与不插电新编12首</a>
                      </p>
                      <div class="author">李志</div>
                    </li>


          </ul>
        </div>
        <!-- 分类榜单 -->
        <div class="category">
          <div class="content-header">
            <h2><i class="fa fa-music red"></i>榜单</h2>
          </div>
          <div class="row">
            <div class="category-music-list">
              <div class="category-header">
                云音乐新歌榜
              </div>
              <ul>


                    <li class="music-list-item">
                      <div class="title">
                        <div class="title_wrap">
                          <span class="rank">1.</span>
                          <a href="/ac/music/?id=557581095" title="Refrain">双子</a>
                        </div>
                      </div>
                      <div class="info">
                        <span class="avatar"><p></p></span>
                      </div>
                    </li>


                    <li class="music-list-item">
                      <div class="title">
                        <div class="title_wrap">
                          <span class="rank">2.</span>
                          <a href="/ac/music/?id=556207187" title="Refrain">Can't Breathe</a>
                        </div>
                      </div>
                      <div class="info">
                        <span class="avatar"><p></p></span>
                      </div>
                    </li>


                    <li class="music-list-item">
                      <div class="title">
                        <div class="title_wrap">
                          <span class="rank">3.</span>
                          <a href="/ac/music/?id=556207070" title="Refrain">几乎成名</a>
                        </div>
                      </div>
                      <div class="info">
                        <span class="avatar"><p></p></span>
                      </div>
                    </li>


                    <li class="music-list-item">
                      <div class="title">
                        <div class="title_wrap">
                          <span class="rank">4.</span>
                          <a href="/ac/music/?id=556203044" title="Refrain">第三人称</a>
                        </div>
                      </div>
                      <div class="info">
                        <span class="avatar"><p></p></span>
                      </div>
                    </li>


                    <li class="music-list-item">
                      <div class="title">
                        <div class="title_wrap">
                          <span class="rank">5.</span>
                          <a href="/ac/music/?id=556203011" title="Refrain">面包与海</a>
                        </div>
                      </div>
                      <div class="info">
                        <span class="avatar"><p></p></span>
                      </div>
                    </li>


                    <li class="music-list-item">
                      <div class="title">
                        <div class="title_wrap">
                          <span class="rank">6.</span>
                          <a href="/ac/music/?id=557583142" title="Refrain">三的颜色</a>
                        </div>
                      </div>
                      <div class="info">
                        <span class="avatar"><p></p></span>
                      </div>
                    </li>


                    <li class="music-list-item">
                      <div class="title">
                        <div class="title_wrap">
                          <span class="rank">7.</span>
                          <a href="/ac/music/?id=557540047" title="Refrain">舞舞舞</a>
                        </div>
                      </div>
                      <div class="info">
                        <span class="avatar"><p></p></span>
                      </div>
                    </li>


                    <li class="music-list-item">
                      <div class="title">
                        <div class="title_wrap">
                          <span class="rank">8.</span>
                          <a href="/ac/music/?id=557583028" title="Refrain">我们的爱没有错</a>
                        </div>
                      </div>
                      <div class="info">
                        <span class="avatar"><p></p></span>
                      </div>
                    </li>


                    <li class="music-list-item">
                      <div class="title">
                        <div class="title_wrap">
                          <span class="rank">9.</span>
                          <a href="/ac/music/?id=557439561" title="Refrain">Turn To You (Mother's Day Dedication)</a>
                        </div>
                      </div>
                      <div class="info">
                        <span class="avatar"><p></p></span>
                      </div>
                    </li>


                    <li class="music-list-item">
                      <div class="title">
                        <div class="title_wrap">
                          <span class="rank">10.</span>
                          <a href="/ac/music/?id=557540059" title="Refrain">转折</a>
                        </div>
                      </div>
                      <div class="info">
                        <span class="avatar"><p></p></span>
                      </div>
                    </li>


              </ul>
            </div>
            <div class="category-music-list">
              <div class="category-header">
                云音乐飙升榜
              </div>
              <ul>

                    <li class="music-list-item">
                      <div class="title">
                        <div class="title_wrap">
                          <span class="rank">1.</span>
                          <a href="/ac/music/?id=557581095" title="Refrain">双子</a>
                        </div>
                      </div>
                      <div class="info">
                        <span class="avatar"><p></p></span>
                      </div>
                    </li>


                    <li class="music-list-item">
                      <div class="title">
                        <div class="title_wrap">
                          <span class="rank">2.</span>
                          <a href="/ac/music/?id=553310243" title="Refrain">后来的我们</a>
                        </div>
                      </div>
                      <div class="info">
                        <span class="avatar"><p></p></span>
                      </div>
                    </li>


                    <li class="music-list-item">
                      <div class="title">
                        <div class="title_wrap">
                          <span class="rank">3.</span>
                          <a href="/ac/music/?id=551816010" title="Refrain">我们</a>
                        </div>
                      </div>
                      <div class="info">
                        <span class="avatar"><p></p></span>
                      </div>
                    </li>


                    <li class="music-list-item">
                      <div class="title">
                        <div class="title_wrap">
                          <span class="rank">4.</span>
                          <a href="/ac/music/?id=556204150" title="Refrain">Bloom</a>
                        </div>
                      </div>
                      <div class="info">
                        <span class="avatar"><p></p></span>
                      </div>
                    </li>


                    <li class="music-list-item">
                      <div class="title">
                        <div class="title_wrap">
                          <span class="rank">5.</span>
                          <a href="/ac/music/?id=554118097" title="Refrain">往后余生原创(demo)</a>
                        </div>
                      </div>
                      <div class="info">
                        <span class="avatar"><p></p></span>
                      </div>
                    </li>


                    <li class="music-list-item">
                      <div class="title">
                        <div class="title_wrap">
                          <span class="rank">6.</span>
                          <a href="/ac/music/?id=557148288" title="Refrain">The Way I Am</a>
                        </div>
                      </div>
                      <div class="info">
                        <span class="avatar"><p></p></span>
                      </div>
                    </li>


                    <li class="music-list-item">
                      <div class="title">
                        <div class="title_wrap">
                          <span class="rank">7.</span>
                          <a href="/ac/music/?id=556207187" title="Refrain">Can't Breathe</a>
                        </div>
                      </div>
                      <div class="info">
                        <span class="avatar"><p></p></span>
                      </div>
                    </li>


                    <li class="music-list-item">
                      <div class="title">
                        <div class="title_wrap">
                          <span class="rank">8.</span>
                          <a href="/ac/music/?id=556207070" title="Refrain">几乎成名</a>
                        </div>
                      </div>
                      <div class="info">
                        <span class="avatar"><p></p></span>
                      </div>
                    </li>


                    <li class="music-list-item">
                      <div class="title">
                        <div class="title_wrap">
                          <span class="rank">9.</span>
                          <a href="/ac/music/?id=553813030" title="Refrain">Dawn of us</a>
                        </div>
                      </div>
                      <div class="info">
                        <span class="avatar"><p></p></span>
                      </div>
                    </li>


                    <li class="music-list-item">
                      <div class="title">
                        <div class="title_wrap">
                          <span class="rank">10.</span>
                          <a href="/ac/music/?id=554245163" title="Refrain">你打不过我吧</a>
                        </div>
                      </div>
                      <div class="info">
                        <span class="avatar"><p></p></span>
                      </div>
                    </li>


              </ul>
            </div>
          </div>
          <div class="row">
            <div class="category-music-list">
              <div class="category-header">
                网易原创歌曲榜
              </div>
              <ul>

                    <li class="music-list-item">
                      <div class="title">
                        <div class="title_wrap">
                          <span class="rank">1.</span>
                          <a href="/ac/music/?id=555894912" title="Refrain">去问猫耳朵</a>
                        </div>
                      </div>
                      <div class="info">
                        <span class="avatar"><p></p></span>
                      </div>
                    </li>


                    <li class="music-list-item">
                      <div class="title">
                        <div class="title_wrap">
                          <span class="rank">2.</span>
                          <a href="/ac/music/?id=556203011" title="Refrain">面包与海</a>
                        </div>
                      </div>
                      <div class="info">
                        <span class="avatar"><p></p></span>
                      </div>
                    </li>


                    <li class="music-list-item">
                      <div class="title">
                        <div class="title_wrap">
                          <span class="rank">3.</span>
                          <a href="/ac/music/?id=555936721" title="Refrain">故事的1/4</a>
                        </div>
                      </div>
                      <div class="info">
                        <span class="avatar"><p></p></span>
                      </div>
                    </li>


                    <li class="music-list-item">
                      <div class="title">
                        <div class="title_wrap">
                          <span class="rank">4.</span>
                          <a href="/ac/music/?id=554244265" title="Refrain">TIME</a>
                        </div>
                      </div>
                      <div class="info">
                        <span class="avatar"><p></p></span>
                      </div>
                    </li>


                    <li class="music-list-item">
                      <div class="title">
                        <div class="title_wrap">
                          <span class="rank">5.</span>
                          <a href="/ac/music/?id=554244310" title="Refrain">暗恋之歌</a>
                        </div>
                      </div>
                      <div class="info">
                        <span class="avatar"><p></p></span>
                      </div>
                    </li>


                    <li class="music-list-item">
                      <div class="title">
                        <div class="title_wrap">
                          <span class="rank">6.</span>
                          <a href="/ac/music/?id=551338687" title="Refrain">匆匆</a>
                        </div>
                      </div>
                      <div class="info">
                        <span class="avatar"><p></p></span>
                      </div>
                    </li>


                    <li class="music-list-item">
                      <div class="title">
                        <div class="title_wrap">
                          <span class="rank">7.</span>
                          <a href="/ac/music/?id=554242217" title="Refrain">四月少了</a>
                        </div>
                      </div>
                      <div class="info">
                        <span class="avatar"><p></p></span>
                      </div>
                    </li>


                    <li class="music-list-item">
                      <div class="title">
                        <div class="title_wrap">
                          <span class="rank">8.</span>
                          <a href="/ac/music/?id=554244810" title="Refrain">天天是周末</a>
                        </div>
                      </div>
                      <div class="info">
                        <span class="avatar"><p></p></span>
                      </div>
                    </li>


                    <li class="music-list-item">
                      <div class="title">
                        <div class="title_wrap">
                          <span class="rank">9.</span>
                          <a href="/ac/music/?id=554241667" title="Refrain">无论</a>
                        </div>
                      </div>
                      <div class="info">
                        <span class="avatar"><p></p></span>
                      </div>
                    </li>


                    <li class="music-list-item">
                      <div class="title">
                        <div class="title_wrap">
                          <span class="rank">10.</span>
                          <a href="/ac/music/?id=554242704" title="Refrain">她走路的姿势</a>
                        </div>
                      </div>
                      <div class="info">
                        <span class="avatar"><p></p></span>
                      </div>
                    </li>


              </ul>
            </div>
            <div class="category-music-list">
              <div class="category-header">
                云音乐热歌榜
              </div>
              <ul>

                    <li class="music-list-item">
                      <div class="title">
                        <div class="title_wrap">
                          <span class="rank">1.</span>
                          <a href="/ac/music/?id=516076896" title="Refrain">纸短情长（完整版）</a>
                        </div>
                      </div>
                      <div class="info">
                        <span class="avatar"><p></p></span>
                      </div>
                    </li>


                    <li class="music-list-item">
                      <div class="title">
                        <div class="title_wrap">
                          <span class="rank">2.</span>
                          <a href="/ac/music/?id=551816010" title="Refrain">我们</a>
                        </div>
                      </div>
                      <div class="info">
                        <span class="avatar"><p></p></span>
                      </div>
                    </li>


                    <li class="music-list-item">
                      <div class="title">
                        <div class="title_wrap">
                          <span class="rank">3.</span>
                          <a href="/ac/music/?id=518686034" title="Refrain">戒烟</a>
                        </div>
                      </div>
                      <div class="info">
                        <span class="avatar"><p></p></span>
                      </div>
                    </li>


                    <li class="music-list-item">
                      <div class="title">
                        <div class="title_wrap">
                          <span class="rank">4.</span>
                          <a href="/ac/music/?id=553310243" title="Refrain">后来的我们</a>
                        </div>
                      </div>
                      <div class="info">
                        <span class="avatar"><p></p></span>
                      </div>
                    </li>


                    <li class="music-list-item">
                      <div class="title">
                        <div class="title_wrap">
                          <span class="rank">5.</span>
                          <a href="/ac/music/?id=545799244" title="Refrain">不仅仅是喜欢</a>
                        </div>
                      </div>
                      <div class="info">
                        <span class="avatar"><p></p></span>
                      </div>
                    </li>


                    <li class="music-list-item">
                      <div class="title">
                        <div class="title_wrap">
                          <span class="rank">6.</span>
                          <a href="/ac/music/?id=254574" title="Refrain">后来</a>
                        </div>
                      </div>
                      <div class="info">
                        <span class="avatar"><p></p></span>
                      </div>
                    </li>


                    <li class="music-list-item">
                      <div class="title">
                        <div class="title_wrap">
                          <span class="rank">7.</span>
                          <a href="/ac/music/?id=536502758" title="Refrain">离人愁</a>
                        </div>
                      </div>
                      <div class="info">
                        <span class="avatar"><p></p></span>
                      </div>
                    </li>


                    <li class="music-list-item">
                      <div class="title">
                        <div class="title_wrap">
                          <span class="rank">8.</span>
                          <a href="/ac/music/?id=486892608" title="Refrain">春娇与志明</a>
                        </div>
                      </div>
                      <div class="info">
                        <span class="avatar"><p></p></span>
                      </div>
                    </li>


                    <li class="music-list-item">
                      <div class="title">
                        <div class="title_wrap">
                          <span class="rank">9.</span>
                          <a href="/ac/music/?id=29004400" title="Refrain">烟火里的尘埃</a>
                        </div>
                      </div>
                      <div class="info">
                        <span class="avatar"><p></p></span>
                      </div>
                    </li>


                    <li class="music-list-item">
                      <div class="title">
                        <div class="title_wrap">
                          <span class="rank">10.</span>
                          <a href="/ac/music/?id=547976490" title="Refrain">爱了很久的朋友</a>
                        </div>
                      </div>
                      <div class="info">
                        <span class="avatar"><p></p></span>
                      </div>
                    </li>


              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- 侧边栏 -->
  <div class="sidebar" style="min-height: 1094px">
    <div class="right-module">
      <h4>入驻歌手</h4>
      <ul class="new-artist-songs">

                    <li class="artist-song">
                      <div class="avatar">
                        <img src="http://p1.music.126.net/p9U80ex1B1ciPFa125xV5A==/5931865232210340.jpg?param=62y62">
                      </div>
                      <div class="info">
                        <h3>张惠妹aMEI</h3>
                        <p>台湾歌手张惠妹</p>
                      </div>
                      <a href="/ac/user?id=29879272" title="张惠妹aMEI" class="cover-link"></a>
                    </li>


                    <li class="artist-song">
                      <div class="avatar">
                        <img src="http://p1.music.126.net/1EN_iqQWU_E3DafzEOh3cA==/3302932937408956.jpg?param=62y62">
                      </div>
                      <div class="info">
                        <h3>Fine乐团</h3>
                        <p>独立音乐人</p>
                      </div>
                      <a href="/ac/user?id=100167517" title="Fine乐团" class="cover-link"></a>
                    </li>


                    <li class="artist-song">
                      <div class="avatar">
                        <img src="http://p1.music.126.net/ZuktZvjcxpYBjcWC3gmbPg==/19027048718765608.jpg?param=62y62">
                      </div>
                      <div class="info">
                        <h3>萬曉利</h3>
                        <p>民谣歌手、中国现代民谣的代表人物之一</p>
                      </div>
                      <a href="/ac/user?id=58426904" title="萬曉利" class="cover-link"></a>
                    </li>


                    <li class="artist-song">
                      <div class="avatar">
                        <img src="http://p1.music.126.net/v_zYgE9kmAwVGWV2c8hFxA==/7943971513291094.jpg?param=62y62">
                      </div>
                      <div class="info">
                        <h3>音乐人赵雷</h3>
                        <p>民谣歌手</p>
                      </div>
                      <a href="/ac/user?id=93504818" title="音乐人赵雷" class="cover-link"></a>
                    </li>


                    <li class="artist-song">
                      <div class="avatar">
                        <img src="http://p1.music.126.net/U-duMw2-FE0wNRsuwGktPw==/109951162895674268.jpg?param=62y62">
                      </div>
                      <div class="info">
                        <h3>王三溥</h3>
                        <p>音乐人</p>
                      </div>
                      <a href="/ac/user?id=46998208" title="王三溥" class="cover-link"></a>
                    </li>


      </ul>
    </div>
    <div class="right-module">
      <h4>热门主播</h4>
      <ul class="new-artist-songs">

                    <li class="artist-song">
                      <div class="avatar">
                        <img src="http://p1.music.126.net/H3QxWdf0eUiwmhJvA4vrMQ==/1407374893913311.jpg?param=40y40">
                      </div>
                      <div class="info">
                        <h3>陈立</h3>
                        <p>心理学家、美食家陈立教授</p>
                      </div>
                      <a href="/ac/user?id=278438485" title="陈立" class="cover-link"></a>
                    </li>


                    <li class="artist-song">
                      <div class="avatar">
                        <img src="http://p1.music.126.net/y5-sM7tjnxnu_V9LWKgZlw==/7942872001461517.jpg?param=40y40">
                      </div>
                      <div class="info">
                        <h3>DJ艳秋</h3>
                        <p>著名音乐节目主持人</p>
                      </div>
                      <a href="/ac/user?id=91239965" title="DJ艳秋" class="cover-link"></a>
                    </li>


                    <li class="artist-song">
                      <div class="avatar">
                        <img src="http://p1.music.126.net/6cc6lgOfQTo6ovNnTHPyJg==/3427177769086282.jpg?param=40y40">
                      </div>
                      <div class="info">
                        <h3>国家大剧院古典音乐频道</h3>
                        <p>国家大剧院古典音乐官方</p>
                      </div>
                      <a href="/ac/user?id=324314596" title="国家大剧院古典音乐频道" class="cover-link"></a>
                    </li>


                    <li class="artist-song">
                      <div class="avatar">
                        <img src="http://p1.music.126.net/xa1Uxrrn4J0pm_PJwkGYvw==/3130309604335651.jpg?param=40y40">
                      </div>
                      <div class="info">
                        <h3>谢谢收听</h3>
                        <p>南京电台主持人王馨</p>
                      </div>
                      <a href="/ac/user?id=1611157" title="谢谢收听" class="cover-link"></a>
                    </li>


                    <li class="artist-song">
                      <div class="avatar">
                        <img src="http://p1.music.126.net/slpd09Tf5Ju82Mv-h8MP4w==/3440371884651965.jpg?param=40y40">
                      </div>
                      <div class="info">
                        <h3>DJ晓苏</h3>
                        <p>独立DJ，CRI环球旅游广播特邀DJ</p>
                      </div>
                      <a href="/ac/user?id=2313954" title="DJ晓苏" class="cover-link"></a>
                    </li>


      </ul>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
    {% load staticfiles %}
    <script type="text/javascript" src="{% static "js/music/jquery.min.js"%}"></script>
    <script type="text/javascript" src="{% static "js/music/HBSlider.js"%}"></script>
    <script type="text/javascript">
        var sliderData = [];
        var data = {title: '',pic: 'http://p1.music.126.net/LZL0KlJd17MmOwm9xjZy1w==/109951163289674713.jpg',url: '/ac/album/?id=38529085'};sliderData.push(data);
        var data = {title: '',pic: 'http://p1.music.126.net/GpXkl5CSbM8m7FZ3zZNaLg==/109951163289682154.jpg',url: '/ac/album/?id=38430061'};sliderData.push(data);
        var data = {title: '',pic: 'http://p1.music.126.net/J3dy8-ssWCtfqfdGbMXcmw==/109951163289677670.jpg',url: '/ac/album/?id=38529019'};sliderData.push(data);
        var data = {title: '',pic: 'http://p1.music.126.net/lMxS7bNboj5LdDI_TDrzXg==/109951163288151462.jpg',url: '/ac/music/?id=557581095'};sliderData.push(data);
        var data = {title: '',pic: 'http://p1.music.126.net/StIzUop0tZ6zeA0Kzte3uQ==/109951163289675850.jpg',url: '/ac/music/?id=557583028'};sliderData.push(data);
        var data = {title: '',pic: 'http://p1.music.126.net/LjcxfCCoxP9dH9IzkjID-Q==/109951163287888670.jpg',url: '/ac/music/?id=557274916'};sliderData.push(data);
        var data = {title: '',pic: 'http://p1.music.126.net/FnLSMwco3ciAhHGBqLHscA==/109951163287194105.jpg',url: 'http://music.163.com/#/activity?id=22657067'};sliderData.push(data);
        var data = {title: '',pic: 'http://p1.music.126.net/fL4GezIpxspUhhSVRtMccw==/109951163289669617.jpg',url: 'http://music.163.com/m/at/5aec17a1c2e0402a803f775a'};sliderData.push(data);


      $(function () {
        HBSlider.setConfig({
          autoPlay: true,
          delay: 5
        });
        HBSlider.setItems(sliderData);
        HBSlider.init();
        HBSlider.play();
      });
    </script>
{% endblock %}

