{% extends "./layout.html" %}

{% block content %}
    <h2>{{ title }}</h2>
    {% if my_page %}
        <h3 style="color: red">请先登陆</h3>
    {% endif %}
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            <form action="" method="post" class="form-horizontal">
                {% csrf_token %}
                <h4>请使用在网易云音乐注册了的邮箱或手机号登陆</h4>
                <hr />
                <div class="form-group">
                    <div class="col-md-10">
                        <input type="text" class="form-control" name="loginname" placeholder="请输入手机号：">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        <input type="password" class="form-control" name="password" placeholder="请输入密码：">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <input type="submit" value="登陆" class="btn btn-default" name="login">
                    </div>
                </div>
                {% if key_error %}
                    <br>
                    <p class="validation-summary-errors" style="color: red">{{ key_error }}</p>
                {% endif %}
            </form>
        </section>
    </div>
    <div class="col-md-4">
        <section id="socialLoginForm"></section>
    </div>
</div>
{% endblock %}