{% extends './layout.html' %}

{% block head %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "css/music/reset.css"%}">
    <link rel="stylesheet" type="text/css" href="{% static "css/music/common.css"%}">
    <link rel="stylesheet" type="text/css" href="{% static "css/music/category.css"%}">
    <link rel="stylesheet" type="text/css" href="{% static "css/music/font-awesome.min.css"%}">
    <link rel="stylesheet" type="text/css" href="{% static "css/select.css" %}">
{% endblock %}

{% block content %}
<div class="container-sm box">
  <div class="main">
    <div class="main-wrap">
      <div class="content-box">
          <div class="content-header">
            <h2><i class="fa fa-music red"></i>选择分类</h2>

          </div>
            {% for i in category %}
                <div>
                    <span>{{ i.style }}</span>
                      {% for j in i.name %}
                          <a href="/ac/play_list/?cat={{ j }}" style="color: #1ab7ea">{{ j }}</a>
                          <span> |</span>
                      {% endfor %}
                        <br>
                </div>
            {% endfor %}
            <hr>
          <ul class="music-list clearfix">

            {% for i in play_list %}
                <li>
                  <div class="u-cover">
                    <img src="{{ i.id }}">
                    <a title="{{ i.identity }}" href="/ac/music_list/?id={{ i.singer }}" class="msk"></a>
                  </div>
                  <p class="dec">
                    <a title="{{ i.identity }}" href="/ac/music_list/?id={{ i.singer }}">{{ i.identity }}</a>
                  </p>
                  <div class="author">{{ i.img }}</div>
                </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}